html {
    font-family: Verdana;
    background: white;
    color: hsl(58, 100%, 87%);
    height: 100%;
    width: 100%;
  }
  
  body {
    max-width: 100%;
    margin: 0 auto;
    background: hsl(208,95.8%,28%);
    height:100%;
  }
  
  h1{
    font-family: Verdana;
    color: hsl(105, 56%, 72%);
    margin: 1rem 0;
    font-size:200%;
  }

  h2 {
    font-family: Verdana;
    color: hsl(105, 56%, 72%);
    margin: 1rem 0;
    font-size:150%;
  }
  
  a {
    color: #377ba8;
  }
  
  hr {
    border: none;
    border-top: 1px solid lightgray;
  }

  footer {
    background: white;
    display: flex;
    align-items: center;
    padding: 2% 0.5rem;
    color: #377ba8;
  }
  
  nav {
    background: white;
    display: flex;
    align-items: center;
    padding: 2% 0.5rem;
  }
  
  nav h1 {
    flex: auto;
    margin: 0;
  }
  
  nav h1 a {
    text-decoration: none;
    padding: 0.25rem 0.5rem;
  }
  
  nav ul  {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li a, nav ul li span, header .action {
    display: block;
    padding: 0.5rem;
  }

  .pages {
    text-decoration: underline #377ba8;
  }

  .username {
    color: hsl(208,95.8%,28%);
    text-decoration: hsl(208,95.8%,28%); 
  }

  section {
    background: hsl(208,95.8%,28%);
  }

  table {
    border-collapse:collapse;
    width:100%;
    font-size: 125%;
    padding:2%;
    margin-top: 1%;
  }

  tr td {
    padding: 1%;
    text-align: center;
  }

  .expense_header {
      display:flex;
      justify-content: space-between;
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 0;
      padding-bottom:0;
  }

  .add_expense {
      display: flex;
      flex-flow: row;
      align-items: center;
      margin-top:0;
      margin-bottom:0;
      padding-top:0;
      padding-bottom:0;
  }

  .add_expense label {
    margin: 5px 10px 5px 0;
  }
  
  .add_expense input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
  }
  
  .content {
    padding: 0 1rem 1rem;
  }
  
  .content > header {
    display: flex;
    align-items: flex-end;
  }
  
  .content > header h1 {
    flex: auto;
    margin: 1rem 0 0.25rem 0;
  }
  
  .flash {
    margin: 1em 0;
    padding: 1em;
    background: #cae6f6;
    border: 1px solid #377ba8;
  }
  
  input.danger {
    color: #cc2f2e;
  }
