{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ single_expense['item'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form class="add_expense" method="post">
    <label for="buy_date">Date</label>
    <input type="date" name="buy_date" id="buy_date"
      value="{{ request.form['buy_date'] or single_expense['buy_date'] }}" required>

    <label for="item">Item</label>
    <input name="item" id="item"
        value="{{ request.form['item'] or single_expense['item'] }}" required>
        
    <label for="amount">Amount</label>
    <input name="amount" id="amount"
        value="{{ request.form['amount'] or single_expense['amount'] }}" required>
    
        
    <label for="category">Category</label>
    <input name="category" id="category"
        value="{{ request.form['category'] or single_expense['category'] }}" required>
      
    <input type="submit" value="Save">
  </form>

{% endblock %}
